<div class='full-content-width services-page'>
  <div class='full-content-width services-header'>
    <h3>Services</h3>
  </div>

  <div class='full-content-width services-body'>
    {% for service in site.data.services %}
    <div class=' full-content-width service-header'>
      <h4>{{ service.title }}</h4>
    </div>    
    <p>{{ service.description }}</p>
    {% endfor %}
  </div>

  <div class='full-content-width services-footer'>
    <p>If you have any questions or inquiries please let us know with the contact form below or at scandinaviandishes@gmail.com</p>
  </div>
</div>