<div class='content-flex location-page' id="location">
  <div class='content-flex homepage-header'>
    <h3>Location</h3>
  </div>
  <div class='homepage-body'> 
    <p>
      Conveniently located in the heart of historic Downtown Oregon City. 
      Ingrid's is on 7th Street between two Oregon City landmarks, the Arch Bridge and the Municipal Elevator.
    </p>
    <a href="https://goo.gl/maps/jc2V6z5zskABZ1Dz7">209 7th St. Oregon City, OR 97045</a>
    <div class='google-maps'>
      {% include homepage/google-maps.html %}
    </div>
  </div>
</div>