<div class='full-content-width location-page' id="location">
  <div class='full-content-width services-header'>
    <h3>Location</h3>
  </div>
  <div class='services-body'> 
    <p>
      Conveniently located in the heart of historic Downtown Oregon City. 
      <br>
      Ingrid's is right on 7th Street between two Oregon City landmarks, the Arch Bridge and the Municipal Elevator.
    </p>
  </div>

  <h3>Address</h3>
  <a href="https://goo.gl/maps/jc2V6z5zskABZ1Dz7">209 7th St. Oregon City, OR 97045</a>
</div>