<div class='content-flex services-page'>
  <div class='content-flex homepage-header'>
    <h3>Services</h3>
  </div>
  {% for service in site.data.services %}
  {% if service.header %}
  <div class='content-flex homepage-subheader'></div>
  {% endif %}
  <div class='content-flex homepage-body'>
    <div class='content-flex service-header'>
      <h4>{{ service.title }}</h4>
    </div>
    <p>{{ service.description }}</p>
  </div>
  {% endfor %}
  <div class='content-flex homepage-subheader'>
    <p>If you have any inquiries please let us know below or at scandinaviandishes@gmail.com</p>
  </div>
</div>