.header {
  background: $header-background;
  a {
    font-weight: map-get($base, font-weight);
    text-decoration: none !important;
    @include link-colors($header-text-color, $main-color-1);
  }
  .main {
    @include flexbox();
    @include media-breakpoint-down(md) {
      @include flex-direction(column);
    }
  }
}

.header__title {
  @include menu(3, 0);
  @include align-items(center);
  @include flex-wrap(nowrap);
  height: map-get($layout, header-height);
  margin-right: map-get($spacers, 5);
  @include media-breakpoint-down(md) {
    height: auto;
    margin-right: 0;
  }
  & > .header__brand {
    @include flex(1);
    @include media-breakpoint-down(md) {
      height: map-get($layout, header-height-lg);
    }
  }
}

.header__brand {
  @include flexbox();
  @include align-items(center);
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  & > img {
    width: map-get($base, font-size-h4) * 6.3;
    height: map-get($base, font-size-h4) * 4.2;
    margin-right: map-get($spacers, 5);
    vertical-align: middle;
    @include media-breakpoint-down(md) {
      width: map-get($base, font-size-h4) * 11.5;
      height: map-get($base, font-size-h4) * 5.6;
      margin: 6px 0 0 0;
    }
  }
  & > a {
    display: inline-block;
    font-size: map-get($base, font-size-h2);
    font-family: 'Dosis', sans-serif;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.navigation {
  @include overflow(auto, "x");
  & > ul {
    height: map-get($layout, header-height);
    padding-bottom: 0;
    margin: 0;
    @include media-breakpoint-down(md) {
      justify-content: center;
      padding-bottom: 4px;
      margin: -4px 0 0 0;
    }
    @include menu(4, 2, nowrap);
    @include align-items(center);
    @include media-breakpoint-down(md) {
      height: auto;
    }
  }
  & > ul li a {
    font-size: map-get($base, font-size-h2) * .6;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  }
}

.navigation__item {
  &::after {
    display: block;
    margin-bottom: -4px;
    content: "";
    @include split-line(bottom, 4px, transparent);
  }
}
.navigation__item--active {
  a {
    @include link-colors($main-color-1, $main-color-1);
  }
  &::after {
    @include split-line(bottom, 4px, $main-color-1);
  }
}
