---
layout: page
title: Home
show_title: false
---
<div class='content-flex'>
  <div class='home-container'>
    {% include homepage/home-hours.html %}
    <div class='about-us'>
      <h5 style="color: red; margin-top: 1.2em;">COVID-19</h5>
      <p style="font-size:small">
        We will remain open for takeout and delivery, unless circumstances change and we are forced to close. We are taking this situation very seriously and have implemented procedures to keep us and our customers safe. For our customers who come in to pick up takeout, know that we have implemented a strict sanitizing schedule for public surfaces and, as always, we wash our hands regurly and keep our kitchen clean and sanitized. Additionally, we will no longer be requriing a signature for our point of sale system, allowing us to be the only ones touching the screen.
      </p>
      <h3>About Us</h3>
      <p>{{content}}</p>
    </div>
  </div>
  <div class='home-container'>
    {% include homepage/home-services.html %}
  </div>
  <div class='home-container'>
    {% include homepage/home-contact.html %}
  </div>
  <div class='home-container'>
    {% include homepage/home-location.html %}
  </div>
</div>