---
layout: page
title: Home
show_title: false
---
<div class='content-flex'>
  <div class='home-container'>
    {% include homepage/home-hours.html %}
    <div class='about-us'>
      <h5 style="color: red; margin-top: 1.2em;">COVID-19</h5>
      <p style="font-size:small">
        Ingrid’s now has a covered patio for socially-distanced outdoor dining! We also have limited indoor seating and we are open for takeout and delivery. We are taking this situation very seriously and have implemented procedures to keep us and our customers safe. We have implemented a strict sanitizing schedule for public surfaces. We no longer be require a signature for our point of sale system, which allows us to be the only ones touching the screen.
      </p>
      <h3>About Us</h3>
      <p>{{content}}</p>
    </div>
  </div>
  <div class='home-container'>
    {% include homepage/home-services.html %}
  </div>
  <div class='home-container'>
    {% include homepage/home-contact.html %}
  </div>
  <div class='home-container'>
    {% include homepage/home-location.html %}
  </div>
</div>