.home-container {
  display: flex;
  height: 100%;
  width: 100%;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;  
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $main-color-3;
  padding: 0.5em 1em;
  width: 40%;
  min-width: 325px;
  height: 75vh;
  min-height: 400px;
  @include media-breakpoint-down(md) {
    margin: 0;
    height: 100%;
  }
  
  a {
    margin: 0.5em;
  }
  h3 {
    margin: 0;
  }
}

.about-us {
  text-align: center;
  h3 {
    margin: map-get($spacers, 3);
  }
  p {
    text-align: left;
    margin: 0 map-get($spacers, 4);    
    font-size: map-get($base, font-size);
  }
}

.full-content-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: map-get($layout, content-max-width);
}

.services-page {
  // background: rgba(0,0,0, 0.15);
  p {
    margin: 1rem;
    font-size: map-get($base, font-size);
  }
}
.services-header {
  position: relative;
  height: map-get($layout, header-height-lg);
  background: #2B2C28;
  border-bottom: 2px solid $main-color-3;
  h3 {
    position: absolute;
    bottom: map-get($spacers, 2);
    font-family: map-get($base, font-family-title2);
    font-size: map-get($base, font-size-h1);
    font-weight: 600;
    color: $main-color-3;
  }
}

.services-body {
  width: 500px;
}

.services-footer {
  display: flex;
  justify-content: center;
  height: map-get($layout, header-height-lg);
  background: #2B2C28;
  border-top: 2px solid #339989;
  p {
    color: $background-color;
    font-size: map-get($base, font-size);
  }
}
.service-header {
  background: linear-gradient(
    rgba(70, 72, 82, 0.3), 
    rgba(70, 72, 82, 0.3)), 
    url("/assets/images/cover-wrap.png");
  background-size: cover;
  height: map-get($layout, header-height-lg) * 2;
  position: relative;
  h4 {
    line-height: map-get($layout, header-height-lg) * 2;
    font-size: map-get($base, font-size-h3) * 1.6;
    font-family: map-get($base, font-family-title2);
    font-weight: normal;
    color: $background-color;
    margin-bottom: map-get($spacers, 2);
  }
}

.form-page {
  height: 100vh;

  h3 {
    color: $main-color-3;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $main-color-3;
    width: 300px;
    margin: 10px 40px;
  }
  textarea {
    min-height: 200px;
  }
  button {
    width: 125px;
    height: 50px;
    border: 2px solid $main-color-3;
  }
}
