.home-container {
  display: flex;
  height: 100%;
  width: 100%;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;  
  }
}

.hours-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $main-color-3;
  padding: 0.5em 1em;
  width: 40%;
  min-width: 325px;
  height: 100%;
  @include media-breakpoint-down(md) {
    margin: 0;
    width: 100%;
    height: 325px;
  } 

  a {
    margin: 0.5em;
  }
  h3 {
    margin: 0;
  }
}

.about-us {
  text-align: center;
  h3 {
    margin: map-get($spacers, 3);
  }
  p {
    text-align: left;
    margin: 0 map-get($spacers, 4) map-get($spacers, 4);    
    font-size: map-get($base, font-size);
  }
}

.content-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: map-get($layout, content-max-width);
}

.homepage-header {
  position: relative;
  height: map-get($layout, header-height);
  background: #2B2C28;
  border-bottom: 3px solid $main-color-3;
  h3 {
    position: absolute;
    bottom: map-get($spacers, 2);
    font-family: map-get($base, font-family-title2);
    font-size: map-get($base, font-size-h1);
    font-weight: 600;
    color: $main-color-3;
  }
}

.homepage-subheader {
  height: map-get($layout, header-height) * 0.7;
  background: #2B2C28;
  border-bottom: 3px solid $main-color-3;
  justify-content: center;
  text-align: center;
  p {
    margin: 0 map-get($spacers, 3);
    color: $background-color;
    font-size: map-get($base, font-size);
  }
}

.homepage-body {
  width: map-get($responsive, sm);
  @include media-breakpoint-down(sm) {
    width: 100vw;
  }
  text-align: center;
  p {
    margin: 1rem;
    font-size: map-get($base, font-size);
  }
}

.service-header {
  background: linear-gradient(
    rgba(70, 72, 82, 0.3), 
    rgba(70, 72, 82, 0.3)), 
    url("/assets/images/cover-wrap.png");
  background-size: cover;
  height: map-get($layout, header-height-lg);
  position: relative;
  h4 {
    line-height: map-get($layout, header-height-lg);
    font-size: map-get($base, font-size-h3) * 1.6;
    font-family: map-get($base, font-family-title2);
    font-weight: normal;
    color: $background-color;
    margin-bottom: map-get($spacers, 2);
  }
}

.form-page {
  height: 100vh;

  h2, h4 {
    color: $main-color-3;
    font-family: map-get($base, font-family-title2);
    font-weight: 400;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $main-color-3;
    width: 300px;
    margin: 10px 40px;
  }
  textarea {
    min-height: 200px;
    background-color: rgba($main-color-3, 0.2);
    border: none;
    margin-bottom: map-get($spacers, 3);
    resize: vertical;
    width: 100%;
  }
  textarea:focus {
    outline: none !important;
    border: 2px solid $main-color-3;
  }
  button {
    width: 125px;
    height: 50px;
    border: 2px solid $main-color-3;
  }
}

.google-maps {
  width: 100%;
  height: map-get($responsive, sm) * (3/4);
  margin: map-get($spacers, 3);
  @include media-breakpoint-down(sm) {
    margin: map-get($spacers, 3) 0;
  }
  iframe {
    border: none;
  }
}